/* Genel stil */
html {
    scroll-behavior: smooth; /* Yumuşak kaydırma efekti */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: #1e1e1e; /* VS Code Koyu Arka Plan */
    color: #dcdcdc; /* Yazı Rengi */
    line-height: 1.6;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

/* Header / Navbar */
header {
    width: 280px;
    background-color: #1e1e1e; /* Dark background */
    padding: 20px;
    text-align: left;
    position: fixed;
    height: 100%;
    top: 0;
    font-size: 16px;
    box-shadow: 3px 0px 10px rgba(0, 0, 0, 0.5); /* Menüyü daha şık göstermek için */
    transition: all 0.3s ease;
    overflow-y: auto; /* İçeriğin taşmasını engelle */
}

header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header nav ul li {
    margin: 15px 0;
}

header nav ul li a {
    color: #dcdcdc; /* Link Rengi */
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 12px 15px;
    text-transform: uppercase;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    border: 1px solid transparent; /* Hoverda border efekti */
}

header nav ul li a:hover {
    background-color: #444; /* Hover Arka Plan */
    color: #61afef; /* Hover Rengi (Mavi tonları) */
    border-color: #61afef; /* Border hover efekti */
}

/* Icon links in navbar */
header nav ul li a i {
    font-size: 24px;
}

/* Social icons container */
.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.social-icons a {
    background-color: #444;
    padding: 12px;
    border-radius: 10px;
    display: inline-block;
    color: #dcdcdc;
    font-size: 24px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.social-icons a:hover {
    background-color: #61afef;
    color: #fff;
}

/* Menu toggle for small screens */
.menu-toggle {
    display: none;
}

/* Ekran boyutuna göre navbarı responsive hale getirme */
@media (max-width: 768px) {
    header {
        width: 100%;
        position: relative;
    }

    .menu-toggle {
        display: block;
        font-size: 30px;
        color: #dcdcdc;
        cursor: pointer;
    }

    #nav-links {
        display: none;
        width: 100%;
        flex-direction: column;
    }

    #nav-links.active {
        display: flex;
    }

    header nav ul {
        flex-direction: column;
    }

    header nav ul li {
        text-align: center;
    }

    header nav ul li a {
        font-size: 22px;
        padding: 15px;
    }
}

/* Main content */
main {
    margin-left: 280px;
    padding: 30px;
    width: calc(100% - 280px);
    transition: margin-left 0.3s ease;
}

section {
    margin-bottom: 50px;
}

h1, h2 {
    font-size: 2em;
    color: #61afef;
}

h3 {
    font-size: 1.5em;
    color: #f39c12;
}

p {
    font-size: 1em;
    color: #dcdcdc;
}

.experiment-container, .project-container, .education-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.experiment-box, .project-box, .education-box {
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.skills {
    margin-top: 10px;
}

.skills span {
    background-color: #555;
    color: #fff;
    padding: 5px 10px;
    border-radius: 20px;
    margin-right: 10px;
}

.skills span.python {
    background-color: #f51010; /* Python rengi */
}
.skills span.r {
    background-color: #55b7f4; /* TensorFlow rengi */
}

.skills span.js {
    background-color: #f39c12; /* JavaScript rengi */
}

.skills span.swift {
    background-color: #d04e09; /* D3.js rengi */
}

.skills span.datascience {
    background-color: #3a0bc7; /* TensorFlow rengi */
}
.skills span.elasticsearch {
    background-color: #5397e9; /* TensorFlow rengi */
}
.skills span.dotnet {
    background-color: #906bff; /* TensorFlow rengi */
}
.skills span.unrealengine {
    background-color: #000000; /* TensorFlow rengi */
}
.skills span.tensorflow {
    background-color: #e74c3c; /* TensorFlow rengi */
}

.date {
    margin-top: 10px;
    font-size: 0.9em;
    color: #888;
}
/* Skills ve Hobbies bölümleri için stil */
#skills, #hobbies {
    margin-bottom: 50px;
}

#skills ul, #hobbies ul {
    list-style-type: disc;
    padding-left: 20px;
}

#skills ul li, #hobbies ul li {
    margin-bottom: 10px;
    font-size: 18px;
}

#skills ul li strong, #hobbies ul li strong {
    color: #61afef; /* Vurgulu başlıklar için */
}
/* Languages Bölümü */
#languages {
    padding: 30px;
    max-width: 500px; /* Kutunun genişliği */
    text-align: right; /* Metni sola hizala */
    background-color: #2d2d2d; /* Koyu arka plan */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#languages:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.7);
}

/* Başlık */
#languages h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #61afef; /* Başlık rengi */
    display: flex;
    align-items: center;
    gap: 15px;
}

/* İkon */
#languages h2 i {
    font-size: 1.8rem;
    color: #61afef;
}

/* Açıklama Metni */
#languages p {
    font-size: 1rem;
    margin-bottom: 20px;
    line-height: 1.6;
    color: #dcdcdc;
}

/* Liste */
#languages ul {
    list-style: none;
    padding: 0;
}

#languages ul li {
    font-size: 1rem;
    margin: 10px 0;
    text-align: left;
    background: #3c3c3c; /* Liste arka planı */
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    color: #dcdcdc;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#languages ul li:hover {
    transform: translateX(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
}

/* Vurgulu Metin */
#languages ul li strong {
    color: #61afef; /* Vurgulu metin */
}

/* Responsive Tasarım */
@media (max-width: 768px) {
    #languages {
        margin: 30px auto; /* Responsive modda kutuyu ortala */
        max-width: calc(100% - 40px); /* Ekran genişliğine uyum sağla */
    }

    #languages h2 {
        font-size: 1.6rem;
    }

    #languages p {
        font-size: 0.9rem;
    }

    #languages ul li {
        font-size: 0.9rem;
    }
}

#overview {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 30px;
}

#overview .content {
    text-align: center;
}

.profile-picture {
    margin-top: 20px; 
    margin-bottom: 20px; 
}

.profile-picture img {
    width: 150px; /* Görselin genişliği */
    height: 150px; /* Görselin yüksekliği */
    border-radius: 15px; /* Köşe yuvarlatma */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Hafif gölge efekti */
    object-fit: cover; /* Görseli çerçeveye sığdır */
}

/* Responsive Tasarım */
@media (max-width: 768px) {
    #overview .content {
        padding: 10px; /* Mobilde daha az padding */
    }

    .profile-picture img {
        width: 120px; /* Görsel boyutunu mobilde küçült */
        height: 120px;
    }
}